/*Reset ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /*Ver se fica legal*/
    /*opacity: 0.9;*/
}

nav, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*Parallax -------------------------------------*/

.parallax {
    background-size: cover;
    background-attachment: fixed !important;
    height: 700px;
}

/*Header ---------------------------------------*/
header {
    background: #FFF url(https://picsum.photos/1920/1080) no-repeat center;
}

header nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    padding: 5px;
    
    font-size: 14px;
}

header nav ul li a {
    color: #FFF;
    opacity: 0.8;
}

header nav ul li a:hover {
    opacity: 1;
}

header .header-intro {
    text-align: center;
    height: 100%;
    width: 100%;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-intro h1 {
    font-size: 2.5rem;
}

/*Divisor ---------------------*/

section.divisor {
    background-color: rgb(44, 44, 44);
    color: #FFF;
    height: 300px;
    width: 100%;
}

section.divisor article.divisor-home {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.divisor article.divisor-home h1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 10px;
}

section.divisor article.divisor-home p {
    font-size: 1.1rem;
    font-weight: 100;
}

/*Section 1 ----------------------------------*/
section.section1 {
    background: #FFF url(https://picsum.photos/1920/1080) no-repeat center;
}

section.section1 .section1-intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

section.section1 .section1-intro h1 {
    font-size: 2.5rem;
}

/*Section 2 ----------------------------------*/
section.section2 {
    background: #FFF url(https://picsum.photos/1920/1080) no-repeat center;
}

section.section2 .section2-intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

section.section2 .section2-intro h1 {
    font-size: 2.5rem;
}
